/*Color scheme: #FEFFFE #F55D3E #320E3B #4C2A85 #6B7FD7*/
@import url('https://fonts.googleapis.com/css?family=Saira');
/* Structure */
body {
  font: 1.3em 'Saira', Helvetica, Arial, Sans-Serif;
  margin: 0 auto;
  overflow: hidden;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.messageboard {
  background-color: #FEFFFE;
  height: 80%;
  width: 98%;
  overflow: auto;
  overflow-x: hidden;
  word-break: break-all;
  border: 2px solid #6B7FD7;
  border-radius: .2em;
  margin: 1%;
  box-sizing: border-box;
}
.enabled-options {
  background-color: #FEFFFE;
  height: 5%;
  width: 98%;
  margin: 0 1% 0 1%;
  padding: 1% 0 1% 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.enabled-options label {
  font-size: 70%;
  margin-right: 2%;

}
.textarea {
  background-color: #FEFFFE;
  height: 15%;
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
}
#textarea {
  background-color: #FEFFFE;
  resize: none;
  width: 100%;
  height: 100%;
  border: 2px solid #6B7FD7;
  border-radius: .2em;
  box-sizing: border-box;
}
:focus{ /*The textarea will always be on focus(), so we won't need this*/
  outline: 0;
}

/* Messages */
/*applied to <p>*/
p {
  font-size: .8em;
  line-height: 1.2em;
  margin: .2em 0 .2em;
}
/* applied to: <p> and <label>*/
.server-message-good{
    color: #6B7FD7;
    font-size: 70%;
    margin: 0;
}
.server-message-bad {
    color: #F55D3E;
    font-size: 70%;
    margin: 0;
}
/*applied to: <label> */
.messageboard label {
  font-weight: bolder;
}
label.pm-send{
    color: #4C2A85;
    margin-left: 1em;
}
label.pm-receive{
    color: #4C2A85;
    margin-left: 1em;
}
label.normal-msg-sent{
    color: #0f0f0f;
    margin-left: 1em;
}
label.normal-msg-received{
  color: #0f0f0f;
}
.messageboard label.track-on{
  color: #F55D3E;
  margin-left: 1em;
}
