
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font: 13px Helvetica, Arial;
}

/*chat body*/
ul {
    list-style-type: none;
}

/*user input*/
.panel.panel-default.user-input{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}
.panel.panel-default.user-input .panel-body{
    width: 100%;
    height: 100%;
}
#message {
    border: 0;
    width: 90%;
    height: 100%;
    margin-right: .5%;
    resize: none;
}
#test-button {
    border: none;
    width: 9%;
    position: fixed;
}
.server-message-good {
    color: darkolivegreen;
    font-size: 11px;
    padding-left: 20px;
}
.server-message-bad {
    color: firebrick;
    font-size: 11px;
    padding-left: 20px;
}
.pm-send{
    color: green;
    font-weight: bold;
}
.pm-receive{
    color: red;
    font-weight: bold;
}
.normal-msg-userId{
    color: black;
    font-weight: bold;
}